.arc path {
  stroke: #fff;
}

.arc > text {
  z-index: 100;
}

.title {
  font-size: 42px;
  font-weight: bold;
}

section {
  width: 100%;
  display:flex;
  justify-content: center;
  height:500px;
  margin-top: 30px;
  overflow:visible
}

article {
  margin-left: 100px;
  height: 200px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  opacity: 0.6;
}

article > h2{
  color: white;
  text-align: center;
}

.tooltip {
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2px;
  font: 14px sans-serif;
  background: lightsteelblue;
  opacity: 0.7;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.description {
  width:100%;
  text-align: center;
  font: 18px sans-serif;
  pointer-events: none;
  color: white;
  z-index: 100;
}

.rank { margin-top: 10px; }
